{% extends 'base.html.twig' %}

{% block title %}Invites index{% endblock %}

{% block body %}
    <h1>Invites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Invitecode</th>
                <th>Doc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr>
                <td>{{ invite.id }}</td>
                <td>{{ invite.invitecode }}</td>
                <td>{{ invite.doc ? invite.doc|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_invites_show', {'id': invite.id}) }}">show</a>
                    <a href="{{ path('app_invites_edit', {'id': invite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_invites_new') }}">Create new</a>
{% endblock %}
